@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.menuLink {
  position: relative;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: black;
  background-color: #00ffc2;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(47, 47, 47, 0.29);
  border-radius: 30px;
  border-style: none;
  margin: 1vh;
  padding: 1.2vh 2vw;
  font-size: 2vh;
  width: auto;
}
