input {
  background-color: "white";
  text-align: center;
  box-shadow: 2px 2px 4px rgba(47, 47, 47, 0.29);
  border-radius: 30px;
  border-style: none;
  margin: 1vh;
  padding: 2vh;
  font-size: 1.5vh;
  height: 1vh;
  width: 20vw;
}

::placeholder {
  color: black;
}
