/* input {
  background-color: "white";
  text-align: center;
  box-shadow: 2px 2px 4px rgba(47, 47, 47, 0.29);
  border-radius: 30px;
  border-style: none;
  margin: 10px;
  padding: 12px 50px;
  font-size: 20px;
}

::placeholder {
  color: black;
} */
