@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.start {
  position: fixed;
  bottom: 60vh;
  height: 50px;
  width: 50px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 8em;

  color: #ffffff;
}

h1 {
  font-family: "Press Start 2P", cursive;
}
