@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.start {
  position: fixed;
  top: 20vh;
  width: 8em;
  font-size: 8vh;
  text-align: center;
  line-height: 10vh;
  color: #ffffff;
}

h1 {
  font-family: "Press Start 2P", cursive;
}
