@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.sidebar {
  position: fixed;
  top: 0;
  left: -25vw;
  width: 25vw;
  height: 100%;
  background-color: #d3edff;
  transition: left 300ms ease-out;
  z-index: 2;
}
.sidebar.active {
  left: 0;
}

.sidebar p {
  font-family: 'Outfit', sans-serif;
  display: block;
  color: black;
  word-wrap: break-word;
  margin: 3vh;
  padding: 3vh;
  width: 20vw;
  text-align: left;
}

.sidebar h2 {
  color: white;
  margin: 5vh;
  font-size: 4vh;
  font-family: "Press Start 2P", cursive;
  word-wrap: break-word;
}

.about-stage {
  font-size: 3vh;
}

.topics {
  font-style: italic;
  font-size: 2vh;
}

.menu-icon {
  border: none;
  outline: 0;
  width: 3vw;
  height: 6vh;
  position: absolute;
  right: -3vw;
  background-color: #d3edff;
}

.menu-icon:after,
.menu-icon:before,
.menu-icon div {
  background-color: #fff;
  height: 1vh;
  /* width: 1vw; */
  margin: 0.1vh;
  border-radius: 0.1vh;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}

.sidebar.active .menu-icon:before {
  transform: translateY(1vh) rotate(135deg);
}
.sidebar.active .menu-icon::after {
  transform: translateY(-1vh) rotate(-135deg);
}
.sidebar.active .menu-icon div {
  transform: scale(0);
}
