@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #d3edff;
  transition: left 300ms ease-out;
  z-index: 2;
}
.sidebar.active {
  left: 0;
}

.sidebar p {
  font-family: 'Outfit', sans-serif;
  display: block;
  color: black;
  word-wrap: inherit;
  margin: 10px;
  padding: 15px;
  width: 250px;
  text-align: left;
}

.sidebar h2 {
  color: white;
  margin: 20px;
  font-size: 4vh;
  font-family: "Press Start 2P", cursive;
  word-wrap: inherit;
}

.about-stage {
  font-size: 3vh;
}

.topics {
  font-style: italic;
  font-size: 2vh;
}

.menu-icon {
  border: none;
  outline: 0;
  width: 50px;
  position: absolute;
  right: -50px;
  background-color: #d3edff;
}

.menu-icon:after,
.menu-icon:before,
.menu-icon div {
  background-color: #fff;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}

.sidebar.active .menu-icon:before {
  transform: translateY(12px) rotate(135deg);
}
.sidebar.active .menu-icon::after {
  transform: translateY(-12px) rotate(-135deg);
}
.sidebar.active .menu-icon div {
  transform: scale(0);
}
