@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.play-again-link {
  background-color: #00ffc2;
  background: #00ffc2;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(47, 47, 47, 0.29);
  border-radius: 30px;
  border-style: none;
  /* margin: 10px; */
  padding: 12px;
  font-size: 20px;
  line-height: 2.5vh;
  width: 170px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  margin-top: 30px;
}

.end-page {
  padding: 10px;
  color: white;
  background-color: rgba(4, 41, 79, 0.7);
}
