@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.play-again-link {
  background-color: #00ffc2;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(47, 47, 47, 0.29);
  border-radius: 30px;
  border-style: none;
  padding: 12px;
  font-size: 0.8rem;
  width: auto;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
}

.end-page {
  padding: 10px;
  font-size: 0.9em;
  line-height: 1.2em;
  color: white;
  background-color: rgba(4, 41, 79, 0.7);
}
