@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.alert {
    width: 250px;
    height: 100vh;
  }
  
.alert-box {
    position: relative;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
    font-family: "Press Start 2P", cursive;
    font-size: 1em;
    box-shadow: 0px 0px 4px rgb(196, 13, 13);
    z-index: 1;
  }
  
.close-alert {
    content: 'X';
    cursor: pointer;
    position: relative;
    background: #FF3A00;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    font-size: 1em;
    font-family: "Press Start 2P", cursive;
  }