@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.go-link {
  background-color: #00ffc2;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(47, 47, 47, 0.29);
  border-radius: 30px;
  border-style: none;
  padding: 12px;
  font-size: 1em;
  width: auto;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
}

p {
  font-size: 2vh;
  margin-top: 0;
  width: 30vw;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

input {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
